.filterMenu {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #ffffff;
    font-family: "Arial";
    border-radius: 5px;
    position: absolute;
    align-self: center;
    align-items: center;
    color: #1a3b45;
    margin: 10px 10px;
    z-index: 1;
    top: 0;
    right: 0;
}

.filterMenu h1 {
    font-size: 1em;
}

.filterMenu textarea {
    font-size: 0.6em;
    padding: 5px 10px;
    border-radius: 5px;
    height: 90px;
    resize: none;
    border: none;
    background-color: #f7f6f3;
    margin-bottom: 5px;
    width: 500px;
    font-family: "Arial";
    color: #1a3b45;
}

.filterMenu input[type=text],
.filterMenu input[type=search],
.filterMenu select {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.6em;
    width: 500px;
    background-color: #f7f6f3;
    margin-bottom: 5px;
    color: #1a3b45;
}

.filterMenu input[type=search] {
    width: 470px;
}

.filterMenu input[type=text],
.filterMenu select {
    width: 500px;
}

.filterMenu select {
    width: 520px;
}

.filterMenu input[type="radio"] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.filterMenu input[type="radio"]:hover {
    border: 3px solid #1a3b45;
    border-radius: 100%;
}

.filterMenu input[type="radio"]:checked {
    border: 3px solid #71a668;
    border-radius: 100%;
}

.angry {
    background: url("./../images/angry.svg") center;
    background-size: cover;
}

.sad {
    background: url("./../images/sad.svg") center;
    background-size: cover;
}

.neutral {
    background: url("./../images/neutral.svg") center;
    background-size: cover;
}

.happy {
    background: url("./../images/happy.svg") center;
    background-size: cover;
}

.overjoyed {
    background: url("./../images/overjoyed.svg") center;
    background-size: cover;
}

.filterMenu img {
    width: 480px;
    height: 360px;
    background-color: #1a3b45;
}

.filterMenu div div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filterMenu ul {
    margin-left: -40px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.filterMenu #searchYoutube {
    background-color: #da6048;
    color: #ffffff;
    font-size: 0.6em;
    padding: 5px 5px;
    border-radius: 5px;
    border: 3px solid transparent;
}

.filterMenu #searchYoutube:hover {
    background-color: #ffffff;
    color: #da6048;
    border: 3px solid #da6048;
}

.filterMenu #sendButton {
    background-color: #71a668;
    color: #ffffff;
    font-size: 0.6em;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    border: 3px solid transparent;
    margin: 10px auto;
}

.filterMenu #sendButton:hover {
    background-color: #ffffff;
    color: #71a668;
    border: 3px solid #71a668;
}